<h1><%= @user.name %></h1>

<ul>
<% @playlists.each do |playlist| %>
    <% if playlist.creator_id == @user.id %>
    <li><%= link_to playlist.name, playlist %></li>
    <% end %>
    <% end %>
</ul>

<%= button_to "Back", users_path, method: 'get' %>