
<h1>Public Playlists </h1>

<div class="signupcont">
  <% if !current_user %>
    <li> <%= link_to "Create an Account", new_user_path, :class => "newuser" %></li>
  <% end %>
</div>
<br>

  <div class="flex-container">
    <div><iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DXadOVCgGhS7j" width="400" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
    <div><iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX8jnAPF7Iiqp" width="400" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
    <div><iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX4osfY3zybD2" width="400" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
  
  </div>


<!--
<%= button_to "View All Playlists", playlists_path, method: "get" %>
<%= button_to "View All Songs", songs_path, method: "get" %>
<%= button_to "View All Users", users_path, method: "get" %>
-->