body {
  /* background-position: right top;
  background-image: url("./messy_disc.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */ */

}

h1 {
    color: #9D9A9A;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

.logo {
    margin-top: 15px;
    float: left;
    font-family: 'Roboto', sans-serif;
}

.logo a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    text-decoration: none;
}

.fas2 {
    color: white;
}

/* sign in and create account home page buttons */

.signupcont {
    display: flex;
    justify-content: center;
}

.homebuttons {
    display: flex;
    width: 600px;
    justify-content: center;
}

.signupcont li {
    display: flex;
    width: 600px;
    justify-content: center;
    text-align: center;
}

.newuser {
    background-color:#A6F484;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
}

.newuser:hover {
    background-color: green;
    color: white;
}

.usersignin {
    background-color:#A6F484;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
}

.usersignin:hover {
    background-color: green;
    color: white;
}

/* top and bottom navbarss */

.navbar li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38C4EF;
    height: 100px ;
}

.navbar li {
    float: right;
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.navbar li a:visited {
    text-decoration: none;
    color: #fff;
}

.navbar li a:hover {
    color: #111;
}

.flex-container {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section {
    display: flex;
  }

  .playlist {
    flex-grow: 1;
    overflow: auto;
    min-height: 0;
    height: 100%;
    max-height: 450px;
    width: 400px;
    color: #eef2f5;
    background-color: #111;
    margin: 10px 35px;
  }

  .playlist-show {
    flex-grow: 1;
    overflow: auto;
    min-height: 0;
    height: 100%;
    width: 400px;
    max-height: 450px;
    color: #eef2f5;
    margin: 0 auto;
  }

  .playlist-title {
    flex-grow: 1;
    overflow: auto;
    min-height: 0;
    width: 400px;
  }


  /* Place the navbar at the bottom of the page, and make it stick */
.navbar-b {
    background-color: #38C4EF;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.navbar-b li a {
    display: block;
    text-decoration: none;
}
/* Style the links inside the navigation bar */
.navbar-b li {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.navbar-b li a:visited {
    text-decoration: none;
    color: #fff;
}

.navbar-b li a:hover {
    color: #111;
}

/* Add a color to the active/current link */
.navbar-b.active {
    background-color: #4CAF50;
    color: white;
}

.fas {
    color: white;
    float: left;
    padding: 14px 16px;
}

.fas li a:hover {
    color: #111;
}

.user {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: white;
}

/*log in page */
.container {
    margin: 50px auto;
    width: 640px;
  }

  .login {
      color: rgb(107, 106, 106);
      font-family: 'Roboto', sans-serif;
      text-align: center;
  }

  .login h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-align: center;
    background: #38C4EF;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
  }

  .login p {
    margin: 20px 0 0;
  }

  .login p:first-child {
    margin-top: 0;
  }

  .login input[type=text], .login input[type=password] {
    width: 278px;
  }

.username {
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    color: grey;
}

.password {
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: 20px;
}

.buttonp {
    display: flex;
    width: 600px;
    justify-content: center;
}

.button1 {
    background-color:#A6F484;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
}

.button1:hover {
    background-color: green;
    color: white;
}

.button2 {
    background-color:#A6F484;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
}

.button2:hover {
    background-color: green;
    color: white;
}

.login_error_message {
    text-align: center;
    color: #a10623;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Create New User Page */

.usercontainer {
    margin: 50px auto;
    width: 640px;
}

.createuser h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-align: center;
    background: #38C4EF;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
  }


.createuser {
    color: rgb(107, 106, 106);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.createuser input[type=text], .createuser input[type=password] {
    width: 278px;
}

.nuser {
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    color: grey;
}

.newpassword {
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: 20px;
}

.passwordconfirmation {
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: 20px;
}

.userbuttonparent {
    display: flex;
    width: 600px;
    justify-content: center;
}

.createbutton {
    background-color:#A6F484;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
}

.createbutton:hover {
    background-color: green;
    color: white;
}

.backbutton {
    background-color:#A6F484;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
    text-decoration: none;
}

.backbutton:hover {
    background-color: green;
    color: white;
}

.creation_error_message {
    text-align: center;
    color: #a10623;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* User Show Page */

.usercontainer{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    width: 80%;
}

.usercontainer li {
    font-size: 1.5em;
    text-align: left;
}

.usercontainer h2 {
    font-size: 30px;
    color: grey;
    margin-bottom: 15px;
}

.userplaylists {
    width: 60%;
    border: 3px solid gray;
    padding: 50px;
    margin: 20px;
    text-align: center;
    border-radius: 25px;
}

.sharedplaylists {
    width: 60%;
    border: 3px solid gray;
    padding: 50px;
    margin: 20px;
    text-align: center;
    border-radius: 25px;
}

.create_playlist_showpage_parent {
    display: flex;
    justify-content: center;
}

.create_playlist_showpage_button {
    display: flex;
    justify-content: center;
    background-color:#A6F484;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
}

.create_playlist_showpage_button:hover {
    background-color: green;
    color: white;
}

/* Playlist index page */

.indexparent {
    display: flex;
    justify-content: center;
}

.playlistcontainer{
    display: flex;
    justify-content: center;
    width: 800px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    border: 3px solid grey;
    background: white;
    border-radius: 25px;
}

.playlist_cont_text {
    color: grey;
    margin-bottom: 5px;
}

.creationparent {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.createplaylist {
    display: flex;
    justify-content: center;
    background-color:#A6F484;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
}

.createplaylist:hover {
    background-color: green;
    color: white;
}

/* playlist show page */

.pbuttonparent {
    display: flex;
    justify-content: center;
}

.deleteplaylist {
    display: flex;
    justify-content: center;
    background-color:#A6F484;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
}
.deleteplaylist:hover {
    background-color: green;
    color: white;
}
.editplaylist {
    display: flex;
    justify-content: center;
    background-color:#A6F484;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
}
.editplaylist:hover {
    background-color: green;
    color: white;
}
.shareplaylist {
    display: flex;
    justify-content: center;
    background-color:#A6F484;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
}
.shareplaylist:hover {
    background-color: green;
    color: white;
}

.filler {
    height: 80px;
}

/* playlist share page */

.shareparent {
    display: flex;
    justify-content: center;
}

.shareform {
    width: 500px;
    border: 3px solid grey;
    border-radius: 25px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.sharetext {
    display: flex;
    justify-content: center;
    margin: 10px;
    color: gray;
}

.check_box_parent {
    display: flex;
    justify-content: left;
    margin-left: 125px;
}

.share_check_box_label {
    color: grey;
    margin-bottom: 10px;
    font-size: 17px;
}

.share_check_box {
    color: grey;
}

.share_submit {
    display: flex;
    justify-content: center;
    background-color:#A6F484;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
}
.share_submit:hover {
    background-color: green;
    color: white;
}

.sbutton_parent {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


.share_playlist_return_parent {
    display: flex;
    justify-content: center;
}

.share_playlist_return_button {
    display: flex;
    justify-content: center;
    background-color:#A6F484;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
}

.share_playlist_return_button:hover {
    background-color: green;
    color: white;
}

/* playlist edit page */

.biggest {
    display: flex;
    justify-content: center;
}

.playlist_parent {
    display: flex;
    flex-direction: column;
}

.playlist_info_parent {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    border: 3px solid grey;
    border-radius: 4px;
    width: 1000px;
}

.playlist_search_info_parent {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    border: 3px solid grey;
    border-radius: 4px;
    width: 1000px;
}

.included_songs {
    margin: 5px;
}

.update_playlist_button {
    display: flex;
    justify-content: center;
    background-color:#A6F484;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
}


.searchspotify {
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: grey;
    padding: 20px;
}

.playlist_text_field {
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    color: grey;
}

.search_field {
    width: 190px;
    height: 30px;
    margin: 0px 5px 0px 10px;
    font-size: 20px;
    color: grey;
}

.spotifyparent {
    display: flex;
    justify-content: center;
}

.spotparent {
    display: flex;
    justify-content: center;
    background-color:#A6F484;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
}

.spotifybutton {
    display: flex;
    justify-content: center;
    background-color:#A6F484;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
}

.spotifybutton:hover {
    background-color: green;
    color: white;
}

.edit_playlist_return_parent {
    display: flex;
    justify-content: center;
}

.edit_playlist_return_button {
    display: flex;
    justify-content: center;
    background-color:#A6F484;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
}

.edit_playlist_return_button:hover {
    background-color: green;
    color: white;
}

/* New Playlist Page */

.new_playlist_container {
    display: flex;
    justify-content: center;
}

.new_playlist_item {
    display: flex;
    justify-content: center;
    border: 3px solid grey;
    border-radius: 25px;
    width: 800px;
    font-size: 20px;
    color: grey;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    padding: 10px;
}

.create_playlist_button_container {
    display: flex;
    justify-content: center;
}

.create_playlist_button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color:#A6F484;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    width: 195px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;

}

.create_playlist_button:hover {
    background-color: green;
    color: white;
}

.playlist_error_message {
    text-align: center;
    color: #a10623;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Playlist-Show-Page */

.center-playlist-container{
  display: flex;
  justify-content: center;
}

.playlist-show-container {
  display: inline-flex; /* or inline-flex */
  flex-direction: column;
  justify-content: center;
  height: 500px;
  border: 3px solid grey;
  border-radius: 4px;
}

.playlist-show-song-display-container {
  display: inline-flex; /* or inline-flex */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  overflow: auto;
  padding-top: 120px;
  margin-bottom: auto;
}

.playlist-show-song-display-item {
  padding-left: 2px;
}
.playlist-show-likes {
  color: rgb(107, 106, 106);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.playlist-show-likes-button {
  background-color:#A6F484;
  font-size: 20px;
  color: white;
  padding: 5px 5px;
  border-radius: 4px;
  width: 195px;
  margin: 10px;

}

.playlist-show-likes-button:hover {
    background-color: green;
    color: white;
}

/* Welcome Hello Page */

.welcome-playlist-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}


.welcome-hello-header {
  color: rgb(107, 106, 106);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.welcome-hello-render {
}
