<h2>Share Playlist</h2>

<%= form_with model: @playlist, url: share_playlist_path, method: "patch" do |f| %>
<p>Sharing the playlist "<%= @playlist.name %>" with:</p>
<p>
<%= f.collection_check_boxes :listener_ids, @users, :id, :name, include_hidden: false %></p>
<%= f.submit "Share" %>
<% end %>
